**/build/**
**/config/**
**/dist/**
**/coverage/**
**/node-modules/**
**/__snapshots__/**
**/package-lock.json
**/.editorconfig
**/.*ignore
**/*.txt
**/*.png
**/*.svg
**/*.woff2
.env.production
.env.development
