/* Colors */

:root {
  --main-50: #fdf4ff;
  --main-100: #fae8ff;
  --main-200: #f5d0fe;
  --main-300: #f0abfc;
  --main-400: #e879f9;
  --main-500: #d946ef;
  --main-600: #c026d3;
  --main-700: #a21caf;
  --main-800: #86198f;
  --main-900: #701a75;

  --gray-50: #fbf9fb;
  --gray-100: #f7f4f7;
  --gray-200: #eae5eb;
  --gray-300: #dad2dc;
  --gray-400: #af9fb2;
  --gray-500: #7d6b80;
  --gray-600: #5f4b63;
  --gray-700: #4d3751;
  --gray-800: #3b253f;
  --gray-900: #2a162e;
}

/* Josefin Sans Font */

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'),
    url('../fonts/JosefinSansRegular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
    url('../fonts/JosefinSansBold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Base Styles */

body,
html {
  @apply w-full h-full;
}

a.link {
  @apply underline rounded-shape;

  &:focus-visible {
    @apply shadow-outline;
  }
}

:is(button, a):focus {
  @apply outline-none;
}
button {
  -webkit-tap-highlight-color: transparent;
}

button:focus-visible {
  @apply shadow-outline;
}

b {
  @apply font-semibold font-heading;
}

option {
  @apply bg-white;
}

::selection {
  background: var(--main-100, #fae8ff);
}
::-moz-selection {
  background: var(--main-100, #fae8ff);
}

@media print {
  @page {
    size: A3;
  }
}
