/* Josefin Sans Font */

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'),
    url('../fonts/JosefinSansRegular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
    url('../fonts/JosefinSansBold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Base Styles */

body,
html {
  @apply w-full h-full;
}

a.link {
  text-decoration: underline;
}

button:focus,
a:focus {
  outline: none;
}

b {
  @apply font-semibold font-heading;
}

option {
  @apply bg-white;
}

::selection {
  background: #f3e5f5;
}
::-moz-selection {
  background: #f3e5f5;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
