.card {
  @apply bg-white text-center;
  @apply flex flex-col justify-center items-center;
  @apply p-4 px-6;
  @apply shadow-md rounded-shape-xl;
}

.card-color {
  @apply card bg-main text-white border-0;
}

.card-color-dark {
  @apply card bg-main-700 text-white border-0;
}
