input[type='text'], input[type='email'], input[type='number'], input[type='password'], input[type='date'], select
  display: block
  box-sizing: border-box
  padding: 0.2rem
  width: 100%
  outline: 0
  border: main-color solid 1px
  background-color: white
  font-weight: 300
  font-size: 1rem
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif

label
  display: block
  box-sizing: border-box
  margin-top: 0.5rem
  margin-bottom: 0.1rem
  color: main-color
  font-weight: 300
  font-size: 0.8rem
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif

button, .button
  display: inline-block
  margin-top: 1rem
  padding: 0.25rem 1rem
  outline: 0
  border: main-color solid 1px
  background-color: white
  color: main-color
  text-decoration: none
  font-weight: 300
  font-size: 1rem
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  transition: 0.3s

  &:hover
    background-color: main-color
    color: white

  @media (max-width: 700px)
    padding: 0.25rem 0.75rem

input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button
  margin: 0
  -webkit-appearance: none

input[type='number']
  -moz-appearance: textfield

input[type='number']:invalid, input[type='text']:invalid
  outline: 0
  border: red 1px solid
  box-shadow: none
