table
  overflow-x: auto
  width: 100%
  border-collapse: collapse

  tr
    transition: 0.3s

    th
      font-weight: 400
      font-family: default-font
      user-select: none

    th, td
      padding: 0.2rem
      text-align: center
      font-weight: 300
      font-family: default-font

      @media (max-width: 700px)
        padding: 0.4rem 0.2rem

    &.striped
      background-color: main-color-very-light

    &:hover:not(.mobile-table-expansion)
      background-color: main-color-light !important

  tbody
    tr:only-child
      background-color: main-color-very-light

.mobile-table-expansion td
  text-align: right

  span
    display: inline-block
    padding: 0 1rem 0 2rem
    width: 1rem